:root {
  --surface-color: #fff;
  --curve: 40;
}
.cardclass {
  width: 20vw;
  height: 20vh;
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

/* .card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
} */

.card__image {
  width: 20vw;
  height: 20vh;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* duyfih */
.pinkcard {
  width: 23vw;
  height: 10vh;
  position: relative;
  display: flex;
  background: #782d8c;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.pinkcardsec {
  width: 20%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pinkcardsec img {
  width: 5rem;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}
.pinkcontent {
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  padding-left: 5%;
  align-items: center;
}
.pinkinnercontent {
  width: 80%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pinkplaybutton {
  width: 3vw;
  height: 6vh;
  position: absolute;
  right: -42px;
  transition: 0.3s all ease-in-out;
}
.pinkplaybutton.hide {
  opacity: 0;
}
.pinktitle {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  color: aliceblue;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s all ease-in-out;
}
.pinktitle.hide {
  width: 80%;
}
/* Media Query */
@media only screen and (max-width: 1500px) {
  .pinkcard {
    width: 29vw;
    height: 10vh;
  }
}
@media (max-width: 1100px) {
  .card {
    width: 33vw;
    height: 9vh;
  }
}
@media (max-width: 1100px) {
  .card {
    width: 72vw;
    height: 10vh;
  }
  .playbutton {
    width: 5vw;
    height: 10vh;
  }
  .cardsec img {
    width: 9rem;
  }
}
