:root {
  --black: rgba(0, 0, 0, 0.904);
  --white: #fffffff6;
}

.bgcolor1 {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registersec1 {
  width: 62%;
  height: 62%;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* left */
.left1 {
  width: 55%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.leftsec1 {
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: #d15de3;
}
#form1 {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.email1 {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  align-items: center;
  justify-content: center;
}
#form1 > p {
  font-size: 1rem;
  color: #000;

  margin-bottom: 1.5rem;
}
.email1 > input {
  width: 75%;
  height: 3.1rem;
  position: relative;
  border: 1.5px solid #000;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
}
/* RIGHT */

.registersec1 > img {
  width: 45%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}
@media only screen and (max-width: 800px){
  .registersec1 > img {
    display:none
  }
  .left1 {
    width: 90%;
  }
  #form1 {
    width: 100%;
  }
}
@media only screen and (max-width: 500px){
  .registersec1 {
    width: 75%;
  }
}
@media only screen and (max-width: 350px){
  .registersec1 {
    width: 90%;
  }
  .leftsec1 {
    height: 75%;
  }
  .email1 > input {
    width: 90%;
  }
}