a {
    text-decoration: none !important;
}

.btn-body{
    height: 75px;
    width: 70px;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.2s ease;
    background-color: rgba(244, 187, 146,0.0);
}

.btn-body.active{
    /* background-color: #fff; */
    color: #fff;
    transform: scale(1.05);
}

.btn-body:hover{
    color: #f6f6f6;
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}

