.fav-card {
  width: 70vw;
  height: 11vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: #782d8c;
  border-radius: 10px;
}
.fav-cardsec {
  width: 15%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fav-cardsec img {
  width: 8rem;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}
.fav-content {
  width: 95%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.fav-innercontent {
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.favtext {
  width: 70%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.fav-title {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(240, 248, 255, 0.936);
  margin: 1% 0%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fav-artist {
  width: 100%;
  font-size: 1rem;
  font-weight: lighter;
  color: rgba(240, 248, 255, 0.39);
  margin: 1% 0%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fav-playbutton {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  right: -42px;
  color: #fff;
}

.fav-Likebutton {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 9px;
  color: white;
}
@media screen  and (max-width:1400px){
  .fav-content {
  width: 85%;
  }
  
}
@media screen  and (max-width:1300px){
  .fav-innercontent {
    justify-content: center;
  }
}
@media  (max-width:1000px){
  .fav-Likebutton {
    right: 10px;
    width: 2.8rem;
    height: 2.8rem;
  }
}
@media  (max-width:900px){
  .fav-innercontent {
    justify-content: flex-start;
    width: 80%;
  }
  .fav-content{
    padding: 0rem 1rem;
  }
  .favtext{
    height: 70%;

  }
}
@media  (max-width:800px){
  .fav-Likebutton {
    right: 4px;
    width: 2.5rem;
    height: 2.5rem;
  }
  .fav-content{
    padding: 0rem 2.5rem;
  }
}
@media  (max-width:700px){
  .fav-Likebutton {
    right: 4px;
    width: 2.1rem;
    height: 2.1rem;
  }
  .fav-title {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .fav-artist {
    font-size: 1rem;
  }
}
@media  (max-width:600px){
  .fav-card {
    width: 65vw;
    height: 10vh;
  }
}
@media  (max-width:500px){
  .fav-card {
    width: 60vw;
    height: 9vh;
  }
  .fav-Likebutton {
    right: -3px;
  }
  .fav-playbutton {
    width: 2.1rem;
    height: 2.1rem;
  }
}