.homesec {
  width: 100%;
  min-height: 82vh;
  max-height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: 2.5rem;
}
.homesec::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.trending_img {
  width: 80%;
  /* height:fit-content; */
  position: fixed;
  top: 4rem;
  z-index: 100;
  background: rgb(23 23 23);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-top: 2rem;
  top: 0;
}
.swiper-pagination-bullet {
  background: #fff;
}
.recently-played {
  width: 90%;
  /* height: fit-content; */
  position: relative;
  padding-top: 20rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Recently-title {
  font-size: 1.9rem;
  font-weight: 600;
  color: aliceblue;
  display: flex;
  margin-bottom: 3%;
}
.nohistory {
  font-size: 1.5rem;
  font-weight: 300;
  color: aliceblue;
  display: flex;
}
/* Media Query */
@media (max-width: 1300px) {
  .Recently-title {
    font-size: 2.2rem;
    margin-bottom: 4%;
  }
  .trending_img {
    margin-bottom: 4%;
  }
}
@media (max-width: 1100px) {
  .Recently-title {
    font-size: 2rem;
    margin-bottom: 5%;
  }
}
